body{
    background-color: black;
    color: white;
    overflow: hidden;
}

/* container */
h1.made{
    margin-top: 50px;
}

.box-text{
    transition: 10s ease-in-out;
}

/* text jedag jedug */
.box-text h1{
    transform: translateX(1500px);
    transition: 10s ease-in-out;
    font-size: 3rem;
    position: absolute;
    top: 60%;
    bottom: 40%;
    color: white;
    width: 5000px;
}

.box-text h1.effect{
    transform: translateX(-2000px);
}

/* button */
.content-button-text{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
}


/* button refresh */
.refresh{
    background-color: red;
    /* width: 12%; */
    height: 30px;
    border-radius: 2px;
    margin-top: 30px;
}

.refresh a{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-weight: bold;
    font-size: 25px;
    padding: 5px;
}


.text-bitch{
    color: black;
}